html,
body {
  margin: 0px;
  font-family: Roboto, sans-serif;
  font: 18px;
  color: #e5e7eb;
}

button {
  background-color: #3882f6;
  border-radius: 10px;
  margin-top: 10px;
  width: 120px;
  height: 30px;
  border: 1px solid #3882f6;
}

h1 {
  font-size: 48px;
  font-weight: 900;
  color: #f9faf8;
  margin: 0px;
}

nav,
nav ul {
  padding-top: 20px;
  background-color: #1f2937;
  display: flex;
  justify-content: space-around;
  gap: 250px;
  align-items: baseline;
}

nav ul {
  gap: 20px;
}

nav li,
a {
  font-size: 18px;
  text-decoration: none;
  list-style-type: none;
  color: #e5e7eb;
}

.first-section {
  background-color: #1f2937;
  padding-bottom: 100px;
}

.logo {
  font-size: 24px;
  color: #f9faf8;
}

.hero {
  display: flex;
  justify-content: space-around;
  padding-top: 80px;
  gap: 20px;
}

.hero div {
  width: min-content;
  color: #e5e7eb;
}

.hero-subtext {
  font-size: 18px;
  width: 450px;
  color: #e5e7eb;
}

.second-section {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  color: #1f2937;
  align-items: center;
  margin: auto;
}

.sub-title {
  font-size: 36px;
  font-weight: 900;
}

.subtext-img {
  display: flex;
  justify-content: center;
  padding: 0px;
  gap: 50px;
}

.subtext-img li {
  width: 150px;
  list-style-type: none;
  font-size: 17px;
  text-align: center;
  color: #59626f;
}

.extra-img {
  border: 2px solid #3882f6;
  border-radius: 10px;
}
